@import "tailwindcss";

/* * {
  outline: 1px solid red;
} */

:root {
  --background: #ffffff;
  --foreground: #ffff;
  --primary: #852139;
  --secondary: #C69E46;
  --text: #18060A;
  --text25: rgba(0, 13, 19, 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text: var(--text);
  --color-text25: var(--text25);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
    overflow-x: hidden;
  
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat', sans-serif;
  
}

